@model IEnumerable<ToDoLast.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color:whitesmoke">
    <thead>
        <tr>
            <th>Tasks List</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobQuestion) 
            </td>
            <td>
                    
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
